:root{
    --texto:  #fff;
    --link: rgb(238, 106, 44);
}


  a{
    position: relative;
    text-decoration: none;
    width: 100px;
    color: #cfcc10;
  }
  a:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
  }
  a:hover:before{
    animation: animate 0.5s linear forwards;
  }
  @keyframes animate{
    0%{
      width: 0;
      height: 0;
      border-top-color: #cfcc10;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
    50%{
      width: 100%;
      height: 0;
      border-top-color: #cfcc10;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: #cfcc10;
    }
    100%{
      width: 100%;
      height: 100%;
      border-top-color: #cfcc10;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: #cfcc10;
    }
  }
  
  

  
  
  a:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
  }
  a:hover:after{
    animation: animate2 0.5s linear forwards;
    animation-delay: 0.5s;
  }
  @keyframes animate2{
    0%{
      width: 0;
      height: 0;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-color: #262626;
      border-right-color: transparent;
    }
    50%{
      width: 0;
      height: 100%;
      border-top-color: transparent;
      border-bottom-color: #cfcc10;
      border-left-color: #cfcc10;
      border-right-color: transparent;
    }
    100%{
      width: 100%;
      height: 100%;
      border-top-color: transparent;
      border-bottom-color: #cfcc10;
      border-left-color: #cfcc10;
      border-right-color: transparent;
    }
  }

body{
    margin: 0; padding: 0;
    box-sizing: border-box
}

img{
    max-width: 100%;
    display: block;
}

nav a{
    color: var(--texto);
    text-decoration: none;
    padding: 8px 12px
}

.flex{
    display: flex;
    flex-wrap: wrap;
    
   
}

.flex > div{
    flex: 1 1 300px;
    justify-content: space-between;
    padding: 0px
}



.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 10px
}

.menu-header{
    background-color: #000207;

}

.menu-header > .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.menu-header > .wrapper > nav > ul
{
    display: flex;
    list-style-type: none;
}

.menu-header > .wrapper > nav > ul > li
{
    margin-left: 10px
}

.flex h1{display: block !important}


/* Grid Layout */
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px

}

/* Legenda */

.grid > div{
   display: grid;

}

.grid > div > img{
    grid-column: 1;
    grid-row: 1/3;
    align-self: end;
}

.grid > div > p{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    grid-column: 1;
    grid-row: 2;
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: var(--link);
    font-family: Tahoma


}



@media(max-width: 1000px){
    .grid{
    grid-template-columns: 1fr 1fr 1fr ;
    }
}


@media(max-width: 800px){
    .grid{
    grid-template-columns: 1fr 1fr;
    }
} 

@media(max-width: 600px){
    .grid{
    grid-template-columns: 1fr !important;
    }
}

